<div class="container-fluid row flex-nowrap" >
  <mat-grid-list cols="8" rowHeight="100px" >
    <mat-grid-tile colspan="2" rowspan="3"  class="border-1"  >
      <div class="flex-column justify-content-center text-center " layout-gt-sm="column">
        <img class="avatarInfoDialog" src='http://localhost:8080/Image/{{data.userInfo.avatar}}'>
        <h1  User Infomation>{{data.userInfo.name}}</h1>
        <h3  User Infomation>{{data.userInfo.about}}</h3>
      </div>
    </mat-grid-tile >
    <mat-grid-tile colspan="4" rowspan="1">
      <div class="info-blog" style=" border-radius: 10px;border: 1px solid black; padding-top: 0px">
        <table  class="info-blog">
          <tr>
            <th>Title:</th>
            <td>{{data.title}}</td>
            <th>Category:</th>
            <td>{{data.category.name}}</td>
          </tr>
          <tr>
            <th>Author:</th>
            <td>{{data.userInfo.name}}</td>
          </tr>
        </table>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="3" >
      <img class="picture" src='http://localhost:8080/Image/{{data.picture}}' [style.border]="'1px black solid'">
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="2" >
      <div [style.border]="'1px black solid'" style="height: 175px;width: 655px;border-radius: 10px">
        <table  style="margin: 15px;">
          <tr>
            <th>Describe</th>
            <td class="param"><p>{{data.describes}}</p></td>
          </tr>
        </table>
      </div>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="5">
      <mat-dialog-content  style="height: 332px;width: 318px;border: 1px black solid;border-radius: 10px;margin-bottom:64px ">
          <table style="margin: 15px" class=table-profile>
            <tr>
              <th>Name :</th>
              <td>{{data.userInfo.name}}</td>
            </tr>
            <tr>
              <th>Email :</th>
              <td>{{data.userInfo.email}}</td>

            </tr>
            <tr>
              <th>Birthday :</th>
              <td>{{data.userInfo.birthDay}}</td>

            </tr>
            <tr>
              <th>Last login :</th>
              <td>{{data.userInfo.userStatus.lastLogin}}</td>
            </tr>
            <tr>
              <th>Status :</th>
              <td>{{data.userInfo.userStatus.status}}</td>
            </tr>
            <tr>
              <th>Register day : </th>
              <td>{{data.userInfo.registerDate}}</td>
            </tr>
          </table>
      </mat-dialog-content>
    </mat-grid-tile>
    <mat-grid-tile colspan="6" rowspan="5">
      <mat-dialog-content class="mat-typography" >
        <h3>Content</h3>
        <p>{{data.content}}</p>
      </mat-dialog-content>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<mat-dialog-actions class="action" align="end">
  <button mat-button color="warn" mat-dialog-close="close">
    <mat-icon fontIcon="close" ></mat-icon>
    Close
  </button>
</mat-dialog-actions>





