.example-card {
  max-width: 1000px;
}

.profile {
  width: 496px;
  height: auto;
}

.avatarInfoDialog {
  border: 2px solid #03BFCB;
  border-radius: 50%;
  padding: 7px;
  width: 100px;
  height: 100px;
}

mat-card-header {
  flex-direction: column;
  align-items: center;
}

.info-blog {
  margin: 0;
  height: 78px;
  width: 652px;
  padding: 15px;

}



th {
  width: 140px;
  padding-bottom: 10px;
  text-align: center;
}

td {

  width: 160px;
  padding-right: 32px;
  padding-bottom: 10px;

}

.container-fluid {
  width: 1416px;
  height: 800px;

}


.blog {
  width: 816px;
  height: auto;
}

.picture {
  height: 280px;
  width: 280px;
  margin: 0px 8px 15px 8px;

}

.mat-typography {
  padding: 15px;
  height: 400px;
  width: 1000px;
  border: 1px black solid;
  border-radius: 10px;
}

.blog-header {
  flex-direction: row;
}

h3 {
  vertical-align: top;
  font-weight: 500;
  font-size: 30px;

}

.param {
  width: 480px;
  margin: 0;
}

.text-center {
  width: 320px;
  height: 280px;
  padding-top: 24px;
  border: 1px solid black;
  border-radius: 10px;
}
.table-profile th{
  text-align: start;
  width: 120px;
}
.table-profile td{
  text-align: start;
  padding-right:0 ;
}
