<main id="tt-pageContent">
  <div class="container">
    <div class="tt-wrapper-inner">
      <h1 class="tt-title-border">
        Create New Blog
      </h1>
      <div class="form-group">
        <label for="inputTopicTitle">Blog Title</label>
        <div class="tt-value-wrapper">
          <input type="text" name="name" class="form-control" id="inputTopicTitle"
                 placeholder="Subject of your topic" [formControl]="title">
          <span class="tt-value-input"></span>
        </div>
        <div class="tt-note"></div>
      </div>
      <div class="form-group">
        <label>Blog Picture</label>
        <div class="custom-file">
          <input type="file" id="file" #userPhoto multiple
                 (change)="showPreview($event)" name="image" autocomplete="off" class="custom-file-input"
                 id = "inputGroupFile01" >
          <label for="inputGroupFile01" class="custom-file-label">Choose File</label>

        </div>
        <img *ngFor="let url of listURL" src="{{url}}" width="20%" height="20%" style="margin-left: 20px" alt="Error">


        <!--        </div>-->
        <div class="pt-editor">
          <h6 class="pt-title">Blog Body</h6>

          <div class="form-group">
          <quill-editor [styles]="editorStyle" [formControl]="content"  placeholder="Enter Text">

          </quill-editor>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="inputTopicTitle">Category</label>
                <select class="form-control" [formControl]=category (selectionchange)="test()">
                  <option *ngFor="let c of categories" value="{{c.id}}">{{c.name}}</option>
<!--                                    <option value="Value 01">Đồ Ăn</option>-->
<!--                                    <option value="Value 02">Đồ Uống</option>-->
<!--                                    <option value="Value 03">Đồ Uống</option>-->
<!--                                    <option value="Value 04">Đồ Uống</option>-->
                </select>
              </div>
            </div>
            <div class="col-md-8">
              <div class="form-group">
                <label for="inputTopicTags">Tags</label>
                <input type="text" name="name" class="form-control" id="inputTopicTags"
                       placeholder="Use comma to separate tags" [formControl]="description">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-auto ml-md-auto">
              <button  class="btn btn-secondary btn-width-lg" (click)="createBlog()">Create Post</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
