
<mat-dialog-content>
  <form  class="full-width" appearance="fill">
    <mat-form-field>
      <mat-label>title</mat-label>
      <input type="text" matInput [formControl]="title" >
    </mat-form-field>
    <mat-form-field>
      <mat-label>price</mat-label>
      <input type="number" matInput [formControl]="price" >
    </mat-form-field>
    <mat-form-field>
      <mat-label>decribe</mat-label>
      <input type="text" matInput [formControl]="description" >
    </mat-form-field>
    <button class="button" mat-raised-button color="primary"
            (click)="updateTour()">Update</button>
  </form>
</mat-dialog-content>
