
<div class="section" id="carousel" style="margin: 100px -200px 100px -200px">
  <owl-carousel-o [options]="customOptions" (initialized)="getData($event)">
    <ng-container *ngFor="let slide of categories">
      <ng-template carouselSlide id="{{slide.id}}">
        <div class="single_catagory">
          <img src="{{slide.picture}}" alt="" style="border-radius: 30px">
          <div class="catagory-title">
            <a href="#">
              <h5>{{slide.name}}</h5>
            </a>
          </div>
        </div>
      </ng-template>
    </ng-container>
  </owl-carousel-o>
</div>
